In [6]:
x = 95
if x >= 90:
    print ("pass")

pass

In [5]:
x = int(input ("숫자를 입력하시오."))
if x >= 90:
    print("pass")
else:
    print("fail")

숫자를 입력하시오. 50

fail

## 여러 조건에 따른 분기

In [4]:
x = int(input ("숫자를 입력하시오."))
if x >= 90:
    print("pass")
elif (x >= 80) and (x < 90):
    print("조건부 합격")
else:
    print("fail")

숫자를 입력하시오. 90

pass

## 중첩 조건에 따른 분기
- 시나리오
-  90점 넘으면 합격, 그 중에서 100점자에는 장학금지급
-  80점 이상은 조건부 합격
-  그 외는 불합격

In [3]:
x = int(input ("숫자를 입력하시오."))
if x >= 90:
    if x == 100:
        print("장학금지급")
    else:
        print("pass")
elif (x >= 80) and (x < 90):
    print("조건부 합격")
else:
    print("fail")

숫자를 입력하시오. 50

fail

## 반복문

In [2]:
for i in range(3):
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

# 시퀀스 자료형이 range대신에 들어감

In [7]:
from collections.abc import Sequence

my_num = 100
my_list = [1, 2, 3]
my_string = "hello"

is_num = isinstance(my_num, Sequence)
is_list = isinstance(my_list, Sequence)
is_string = isinstance(my_string, Sequence)

print(is_num)
print(is_list)
print(is_string)

False
True
True

In [10]:
for i in my_list:
    print (i)

1
2
3

In [9]:
for i in my_string:
    print (i)

h
e
l
l
o

In [11]:
list(range(3))

[0, 1, 2]

## 중첩 for문
- 구구단 중첩 for문 gpt요청 모르겠으면

In [16]:
x_list = ["x1","x2"]
y_list = ["y1","y2"]

print("x y")
for x in x_list:
    print(x)
    for y in y_list:
        print(x,y)
    print("y 반복문 종료")

x y
x1
x1 y1
x1 y2
y 반복문 종료
x2
x2 y1
x2 y2
y 반복문 종료

## 여러개의 리스트 다루기

In [20]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

print(names[0],scores[0])

James 95

In [21]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

# idx : index 번호를 의미
for idx in range(len(names)):
    # print(idx)
    print(names[idx],scores[idx])

James 95
Robert 96
Lisa 97
Mary 94

names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

zip 사용
for name, score in zip(names, scores):
    print(name, score) 

enumerate사용
for idx, name in enumerate(names):
    print(name, scores[idx])

mpa 사용
for name, score in map(lambda x, y: (x, y), names, scores):
    print(name, score)

    이렇게 방법이 여러가지가 있다

## 리스트 컴프리헨션

In [29]:
numbers = [1, 2, 3, 4, 5]
result = []
for x in numbers:
    #각 요소마다 곱하기 2
    #print(x*2) 먼저 프린트로 결과값 확인 후 어팬드 쓰기
    result.append(x*2)
print (result)

[2, 4, 6, 8, 10]

In [51]:
numbers = [1, 2, 3, 4, 5]
result = [x * 2 for x in numbers]
print(result)

[2, 4, 6, 8, 10]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
result = []
for x in numbers:
    if x % 2 ==0:
        result.append(x)
result

In [ ]:
#짝수만 출력
numbers = [1, 2, 3, 4, 5, 6]
result2 = [x for x in numbers if x % 2 == 0]
print(result2)

## while 반복문
- 가볍게만 진행
- 조건문이 참일때만 반복해서 실행
- 데이터 분석 : 데이터셋이 정해져 있음
  +행과 열이 고정이 되어 있음
  +범위가 주어진 상태
  따라서 데이터 분석에서는 잘 안쓰기 때문에 가볍게만 진행

In [ ]:
i = 0
total = 0

while (total < 20):
    i = i + 1
    total + total + i
    print (i, total)

In [54]:
k = 0
while True:
    k = k + 1
    print("안녕하세요")
    if (k > 3):
        print(k)
        break

안녕하세요
안녕하세요
안녕하세요
안녕하세요
4

## 사용자 정의 함수 
- 반복되는 거를 안하기 위함

In [59]:
def my_1st_func():
    print("안녕하세요")
    print("반갑습니다")

In [61]:
my_1st_func()

안녕하세요
반갑습니다

## 문제

# 문제 1. 
- 변수 a에 정수 10을, 변수 b에 실수 5.5를 할당하고, 두 변수를 더한 결과의 데이터 타입을 출력하세요.

In [64]:
a = 10
b = 5.5
print (type(a+b))

<class 'float'>

# 문제 2
- 문자열 "100"과 정수 50을 더하려고 할 때 발생하는 오류를 설명하고, 이를 해결하는 방법을 보여주세요.
- 문자와 정수는 서로 합이 안되기 때문에 오류가 발생하고

In [118]:
a = "100"

print (int(a) + 50)

150

# 문제 3. 
- 리스트 [1, 2, 3]와 튜플 (4, 5, 6)을 더할 수 있는지 확인하고, 가능하다면 결과를 출력하세요.

In [83]:
numbers = [1, 2, 3]
numbers.extend([4, 5, 6])
numbers

[1, 2, 3, 4, 5, 6]

# 문제 4. 
- 변수 x에 None을 할당하고, 이를 다른 데이터 타입으로 변환할 수 있는지 확인하세요.
-

In [122]:
x = None
print (type(x))

<class 'NoneType'>

# 문제 5. 
- 변수 a에 정수 3을 할당하고, 이를 부동 소수점 숫자 3.0으로 자동 변환하도록 하세요.

In [97]:
a = 3
float(a)

3.0

# 문제 6. 
- 변수 s에 문자열 "Hello"를 할당하고, 이를 3번 반복한 결과의 데이터 타입을 확인하세요.

In [117]:
for s in range(3):
    s = "Hello"
    print(s)

Hello
Hello
Hello

# 문제 7. 
- 변수 x에 정수 7을 할당하고, 이를 문자열로 변환한 후 문자열 "3"과 더해보세요.

In [116]:
x = 7
result = x.replace()
print(result)

AttributeError: 'int' object has no attribute 'replace'

## 인자(인수)는 있으나 반환 값이 없는 함수

In [136]:
def my_friend(name):
    print(f"{name}은 나의 친구입니다")
    print("{}는 나의 친구입니다".format(name))

my_friend("철수")
my_friend("길동")

철수은 나의 친구입니다
철수는 나의 친구입니다
길동은 나의 친구입니다
길동는 나의 친구입니다

In [137]:
my_friend("영희")

영희은 나의 친구입니다
영희는 나의 친구입니다

## 인자(인수)는 있으나 반환 값이 
-코드 문서화 필수

In [141]:
def my_calc(x, y):
    z = x * y
    return z

my_calc(3, 4)

12

## 변수의 유효 범위
-키워드 : 전역변수 , 지역 변수

In [153]:
a = 5
def func1():
    a = 1
    print("[func1]지역변수 a = ",a)
def func2():
    a = 2
    print("[func2]지역변수 a = ",a)    
def func3():
    print("[func3]지역변수 a = ",a)    
def func4():
    global a #함수 내에서 전역변수 변경을 위해 선언
    a =4
    print("[func4]전역변수 a=",a)

In [150]:
func1()
func2()
func3()

[func1]지역변수 a =  1
[func2]지역변수 a =  2
[func3]지역변수 a =  5

In [151]:
func1()
func2()
print("전역변수 a=",a)

[func1]지역변수 a =  1
[func2]지역변수 a =  2
전역변수 a= 5

In [154]:
func3()
func4()
func3()

[func3]지역변수 a =  5
[func4]전역변수 a= 4
[func3]지역변수 a =  4

In [172]:
c= 1
def add():
    c = c + 2
    print (c)
add()

UnboundLocalError: cannot access local variable 'c' where it is not associated with a value

## 가변인수 예제
- 학생의 정수를 입력받아 평균 점수를 계산하는 함수
  + 문제점 : 각 학생들마다 시험 본 과목수가 다 다름
    -a : 3과목
    -b : 2과목
    -c : 5과목

In [163]:
def calculate_average(name, *scores): #*scores 가변인수임
    if scores:  # 가변 인수가 비어있지 않은지 확인 타입 튜플
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [173]:
def calculate_average(name, *scores):
    print(type(scores))
    if scores:  # 가변 인수가 비어있지 않은지 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [ ]:
def calculate_average(name, scores):
    if len(scores) > 0:  # 가변 인수가 비어있지 않은지 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [174]:
calculate_average("evan", 85, 40, 60)

<class 'tuple'>
evan의 평균 점수는 61.67점입니다.

In [167]:
calculate_average("a", 85, 40, 60,34,34)

a의 평균 점수는 50.60점입니다.

In [168]:
calculate_average("b", 85, 40)

b의 평균 점수는 62.50점입니다.

## 키워드 인수확인 예제
- 학생의 이름, 과목별, 점수, 그리고 학년을 받아 학새의 성적을 출력하는 함수
- 고정인수 : 학생의 이름
- 가변인수 : 여러개의 과목 점수
- 키워드 인수 : 학년 정보

In [171]:
# def student_report(name,*args,**kwargs):
def student_report(name, *scores, **details): # 스코어는 튜블 디테일은 딕션으로 나
    print(f"학생 이름: {name}")

    # 점수가 입력된 경우에만 평균을 계산
    if scores:
        average_score = sum(scores) / len(scores)
        print(f"평균 점수: {average_score:.2f}")
    else:
        print("점수를 입력하지 않았습니다.")

    # 키워드 인수로 전달된 추가 정보를 출력
    for key, value in details.items():
        print(f"{key}: {value}")

# 함수 호출 예제
student_report("Alice", 88, 92, 85, grade="2학년", school="Seoul High School")
print("\n")
student_report("Bob", 75, 80, 78, 90, grade="3학년", school="Busan High School", hobby="축구")
print("\n")
student_report("Charlie", grade="1학년")

학생 이름: Alice
평균 점수: 88.33
grade: 2학년
school: Seoul High School


학생 이름: Bob
평균 점수: 80.75
grade: 3학년
school: Busan High School
hobby: 축구


학생 이름: Charlie
점수를 입력하지 않았습니다.
grade: 1학년

# 람다(lambda)함수

In [175]:
(lambda x : x **2)(5)

25

In [177]:
mysquare = lambda x : x**2
mysquare(2)

4

In [178]:
samplefunc = lambda x, y, z : x**2 + 3 * y * z
samplefunc(1, 2, 3)

19

# Context Manger , Decorator
- 클로저 Closure
  + 함수 안에 또 다른 함수 생성

In [179]:
import time

def time_decorator(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        print(f"Function '{func.__name__}' executed in {end_time - start_time:.4f} seconds")
        return result
    return wrapper #여기까지 코드가 돌아가는 시간을 체크하는 함수

@time_decorator # 골뱅이를 써서 호출을 한것임 이거 안쓰면 그냥 리턴값만 나옴
def slow_function():
    time.sleep(2)
    return "Finished"

# 사용 예시
slow_function()

Function 'slow_function' executed in 2.0006 seconds

'Finished'

# 클래스 왕기초

In [204]:
class 책: 
    title = None         # 속성
    author = None        # 속성
    pages = 0            # 속성
    price = 0            # 속성
    discount = 0         # 속성

    def 읽는시간(self, reading_speed = 30):
        return round(self.pages / reading_speed, 1)

In [207]:
# 인스턴스 생성
책01호 = 책()
책01호.title = "Streamlit"
책01호.author = "Evan"
책01호.pages = 560
책01호.price = 40000
책01호.discount = 10

print(책01호.title, 책01호.author)
출력값 = 책01호.읽는시간()
print(출력값)

Streamlit Evan
18.7

In [206]:
print(책01호.title, 책01호.author)
출력값 = 책01호.읽는시간(reading_speed = 5)
print(출력값)

Streamlit Evan
112.0

## 코드 업데이트

In [215]:
class 책():
    # initialize : 초기화
    def __init__(self, title, author, pages, price, discount_rate=0):
        self.title = title # 책의 제목
        self.author = author 
        self.pages = pages
        self.price = price
        self.discount_rate = discount_rate
        
    def reading_time(self, reading_speed = 30):
        return round(self.pages / reading_speed, 1)

    def apply_discount(self):
        return self.price * (1 - self.discount_rate)

In [216]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.5)
책02호 = 책("샘플2", "Evan1", 400, 20000, 0.1)
책03호 = 책("샘플3", "Evan2", 500, 20000, 0.1)
책04호 = 책("샘플4", "Eva3", 600, 20000, 0.1)
책01호.title, 책02호.title

('샘플', '샘플2')

In [218]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.1)
책01호.reading_time()

10.0

In [225]:
print('"Python is very easy." he says.')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1317009105.py, line 1)

In [242]:
multiline = "Life is too short You need python"

In [255]:
 multiline='''
Life is too shortYou 
need python
'''
print(multiline)

Life is too shortYou
need python