In [4]:
import pandas as pd
from pandas import DataFrame
import seaborn as sns
import numpy as np

In [2]:
print(pd.__version__)

2.2.3

In [23]:
df10101 = pd.read_csv("seoul_real_estate.csv")
df10101.head(1)

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,2023,11650,서초구,10800,서초동,1.0,대지,1328.0,11.0,대우도씨에빛2,...,38500,38.81,50.85,14.0,NaN,NaN,2005.0,오피스텔,중개거래,서울 서초구

In [20]:
import pandas as pd

# 데이터프레임 생성
data = [
    ["1000", "1,100", '1,510'],
    ["1,410", "1,420", '1,790'],
    ["850", "900", '1,185'],
]
columns = ["03/02", "03/03", "03/04"]
df = pd.DataFrame(data=data, columns=columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   03/02   3 non-null      object
 1   03/03   3 non-null      object
 2   03/04   3 non-null      object
dtypes: object(3)
memory usage: 204.0+ bytes

## 쉼표를 제거하고 int로 변환하는 함수 정의

In [10]:
# 연습할때 쉬운걸로
x = "1,000"
int(x.replace(",",""))

1000

In [17]:
def rm_comma(x):
    return int(x.replace(",",""))

y = "1,000"
print(rm_comma(y))

1000

In [13]:
df["03/02"]=1 # 확인용
df

   03/02  03/03  03/04
0      1  1,100  1,510
1      1  1,420  1,790
2      1    900  1,185

In [21]:
df["03/02"]= df["03/02"].apply(rm_comma)
df["03/03"]= df["03/03"].apply(rm_comma)
df

   03/02  03/03  03/04
0   1000   1100  1,510
1   1410   1420  1,790
2    850    900  1,185

In [ ]:
import pandas as pd

# 데이터프레임 생성
data = [
    ["1,000", "1,100", '1,510'],
    ["1,410", "1,420", '1,790'],
    ["850", "900", '1,185'],
]
columns = ["03/02", "03/03", "03/04"]
df = pd.DataFrame(data=data, columns=columns)
df.info()